<% posts.each do |post| %>
<div class='post'>
  <!--ジャンル-->
  <h6 style="text-align:left">#<%= post.genre.name %></h6>
  <!--タイトル-->
  <h4 style='border: 2px double #333'>
    <%= link_to post_path(post) do %>
      <%= post.title %>
    <% end %>
  </h4>
　<!--画像-->
  <h4>
    <%= link_to post_path(post) do %>
      <% if post.image.attached? %>
        <%= image_tag post.get_image(300,300) %>
      <% else %>
        <%= image_tag '', size: "300x300" %>
      <% end %>
    <% end %>
  </h4>
  　<!--ユーザーネーム-->
  <h6>
    （投稿者）
    <%= link_to member_path(post.member) do %>
      <%= post.member.nickname %>さん
    <% end %>
　</h6>

  <!--本文-->
    <%#= post.body %>
</div>
<% end %>