<div class='top'>
  <div class='container'>
    <div class='search'>
      <div class='title'>
        <h3>＜みんなの投稿＞</h3>
      </div>
      <div>
        <%= link_to '新着順', posts_path(latest: "true") %>
        |<%= link_to '古い投稿順', posts_path(old: "true") %>
        |<%= link_to '人気順', posts_path(favorite_count: "true") %>
       </div>
        <h6>
        ジャンル検索
        <%= form_with url: genre_search_path, method: :get do |f| %>
          <%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "-- 選択してください --") %>
          <%= f.submit '検索' %>
        <% end %>
      </h6>

      </div>
    <div class='row'>
      <div class='col-10'>
        <div class='posts'>
          <%= render 'post', posts: @posts %>
        </div>
      </div>
    </div>
  </div>
</div>