<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-sm-8 sign'>
      <div class='post-top'>
        新規投稿
      </div>
      <div class='new'>
        <%= form_with model:@post, url: posts_path do |f| %>
          <table>
            <tr>
              <th>
                画像
              </th>
              <td>
                <%= f.file_field :image, accept: "image/*" %>
              </td>
            </tr>
            <tr>
              <th>
                ジャンル
              </th>
              <td>
                <%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "-- 選択してください --") %>
              </td>
            </tr>
            <tr>
              <th>
                タイトル
              </th>
              <td>
                <%= f.text_field :title, class: 'post-body' %>
              </td>
            </tr>
            <tr>
              <th>
                投稿内容
              </th>
              <td>
                <%= f.text_area :body, class: 'post-body', rows:10 %>
              </td>
            </tr>
          </table>
        <center><%= f.submit '投稿する', class: 'btn post-btn' %></center>
        <% end %>
      </div>
    </div>
  </div>
</div>