<h1>投稿の詳細</h1>
<div class='favorite'>
  <%= render 'favorite', post: @post %>
</div>
<div>
  <h6>プロフィール画像</h6>
  <% if @member.profile_image.attached? %>
    <%= image_tag @member.profile_image, size: "100x100" %>
  <% else %>
    <%= image_tag 'no-image-icon', size: "100x100" %>
  <% end %>

  <h6>ユーザーネーム</h6>
  <%= @post.member.nickname %>

  <h4>画像</h4>
   <%= link_to post_path(@post) do %>
    <% if @post.image.attached? %>
      <%= image_tag @post.image, size: "200x200" %>
    <% else %>
      <%= image_tag 'no-image', size: "200x200" %>
    <% end %>
   <% end %>
  <h4>ジャンル</h4>
    <%= @post.genre.name %>
  <h4>投稿日<%= @post.created_at.strftime('%Y/%m/%d') %></h4>
  <h4>タイトル</h4>
    <%= @post.title %>
  <h4>投稿本文</h4>
    <%= @post.body %>

  <% if @post.member == current_member %>
   <%= link_to '編集する',  edit_post_path(@post) %>
  <% end %>

</div>

<div class = 'post_comment'>
  <%= render 'public/post_comments/post_comment', post: @post %>
</div>

<div class = 'comment'>
  <%= render 'public/post_comments/comment', post: @post, post_comment: @post_comment %>
</div>