<div class="back">
  <div class='new'>
    <div class='container post-back'>
      <div class="mypage p-3">
      <div class='row d-flex align-items-center'>
         <div>
          <div class="col-md-4 col-sm-12 d-flex">
            <div class='favorite'>
              <%= render 'favorite', post: @post %>
            </div>
            <div>
              <% if @member.profile_image.attached? %>
                <%= image_tag @member.profile_image, size: "50x50" %>
              <% else %>
                <%= image_tag 'no-image-icon', size: "50x50" %>
              <% end %>
              <div>
                <%= @post.member.nickname %>さん
              </div>
            </div>
          </div>
          <div class='pb-5 px-3'>
             <%= link_to post_path(@post) do %>
              <% if @post.image.attached? %>
                <%= image_tag @post.image, size: "200x200" %>
              <% else %>
                <%= image_tag 'no-image', size: "200x200" %>
              <% end %>
             <% end %>
          </div>
        </div>

        <div class='col-md-8 col-sm-12'>
          <div> ＃<%= @post.genre.name %></div>
          <div>投稿日:<%= @post.created_at.strftime('%Y/%m/%d') %></div>
          <h4 class='post-form'>
            <%= @post.title %>
          </h4>
          <div class='post-form'>
            <%= @post.body %>
          </div>
        </div>
      </div>
        <div class='text-center'>
          <% if @post.member == current_member %>
            <%= link_to '編集する',  edit_post_path(@post), class: 'btn btn-green' %>
          <% end %>
        </div>
      </div>
      <div class ='row comment'>
        <%= render 'public/post_comments/comment', post: @post, post_comment: @post_comment %>
      </div>
      <div class ='post_comment'>
        <%= render 'public/post_comments/post_comment', post: @post %>
      </div>
    </div>
  </div>
</div>