<h1>投稿の詳細</h1>
<div>
  <% if @post.favorited_by?(current_member) %>
    <p>
      <%= link_to post_favorites_path(@post.id), method: :delete do %>
        ♥<%= @post.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_favorites_path(@post.id), method: :post do %>
        ♡<%= @post.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>

</div>
<div>
  <h6>プロフィール画像</h6>
  <% if @member.profile_image.attached? %>
    <%= image_tag @member.profile_image, size: "100x100" %>
  <% else %>
    <%= image_tag 'no-image-icon', size: "100x100" %>
  <% end %>

  <h6>ユーザー名</h6>
  <%= @post.member.nickname %>

  <h4>画像</h4>
   <%= link_to post_path(@post) do %>
    <% if @post.image.attached? %>
      <%= image_tag @post.image, size: "200x200" %>
    <% else %>
      <%= image_tag 'no-image', size: "200x200" %>
    <% end %>
   <% end %>
  <h4>ジャンル</h4>
    <%= @post.genre.name %>
  <h4>投稿日<%= @post.created_at.strftime('%Y/%m/%d') %></h4>
  <h4>タイトル</h4>
    <%= @post.title %>
  <h4>投稿本文</h4>
    <%= @post.body %>

  <% if @post.member == current_member %>
   <%= link_to '編集する',  edit_post_path(@post) %>
  <% end %>

</div>

<div>
  <% @post.post_comments.each do |post_comment| %>
   <%= post_comment.member.nickname %>
   <%= post_comment.comment %>
    <% if post_comment.member == current_member %>
      <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
    <% end %>
  <% end %>
</div>

<div>
  <%= form_with model: [@post,@post_comment], url: post_post_comments_path(@post.id) do |f| %>
    <%= f.text_area :comment, row:'3', placeholder: "コメントをここに" %>
    <%= f.submit '送信する' %>
  <% end %>
</div>