<div class="back">
  <div class='new'>
    <div class='container post-back'>
      <div class="mypage p-3">
      <%= flash[:notice] %>
          <div class="row mx-3">
            <div class='favorite d-flex align-items-end'>
              <%= render 'favorite', post: @post %>
            </div>
          </div>
      <div class='row d-flex pb-3 px-3 align-items-top'>
        <div class="col-md-4 col-sm-12">
           <%= link_to post_path(@post) do %>
            <% if @post.image.attached? %>
              <%= image_tag @post.image, size: "200x200" %>
            <% else %>
              <%= image_tag 'no-image.jpg', size: "200x200" %>
            <% end %>
           <% end %>
        </div>
        <div class='col-md-8 col-sm-12'>
          <div class="row mt-3">
            <div class="col-md-3 col-sm-12 text-left"> ＃<%= @post.genre.name %></div>
            <div class="col-md-9 col-sm-12 text-right">
              投稿日:<%= @post.created_at.strftime('%Y/%m/%d') %>
              <%= link_to member_path(@post.member) do %>
                 (<%= @post.member.nickname %>さん)
              <% end %>
            </div>
          </div>
          <h4 class='post-form mb-3'>
            <%= @post.title %>
          </h4>
          <div class='post-form'>
            <!--simple_format＝railsヘルパーの文字列加工-->
            <%= simple_format(@post.body) %>
          </div>
        </div>
      </div>
        <div class='text-center'>
          <% if @post.member == current_member %>
            <%= link_to '編集する',  edit_post_path(@post), class: 'btn btn-green col-4' %>
          <% end %>
        </div>
      </div>
      <div class ='comment' style='width: 100%;'>
        <%= render 'public/post_comments/comment', post: @post, post_comment: @post_comment %>
      </div>
      <div class ='post_comment'>
        <%= render 'public/post_comments/post_comment', post: @post %>
      </div>
    </div>
  </div>
</div>