<div class='container'>
  <div class='row  justify-content-center'>
    <div class="col-md-8 sign">
      <div class='sign-top'>
        <h3>ユーザーページ編集</h3>
      </div>
      <%= flash[:notice] %>
      <div class="new"></div>
       <%= form_with model: @member, url: admin_member_path(@member) do |f| %>
        <table style='width: 100%;'>
          <tr>
            <th>
                プロフィール画像
            </th>
            <td>
              <%= f.file_field :profile_image, accept: "image/*" %>
            </td>
          </tr>
          <tr>
            <th>
              <%= f.label :ニックネーム %>
            </th>
            <td>
              <%= f.text_field :nickname, class: 'col-12' %>
            </td>
          </tr>
          <tr>
            <th>
              <%= f.label :メールアドレス %>
            </th>
            <td>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'col-12' %>
            </td>
          </tr>
          <tr>
            <th>
              <%= f.label :自己紹介文 %>
            </th>
            <td>
              <%= f.text_area :introduction, class: 'col-12' %>
            </td>
          </tr>
          <tr>
            <th>ユーザーステータス</th>
            <td class='d-flex justify-content-around'>
              <div><%= f.radio_button :is_deleted, :true %>退会</div>
              <div><%= f.radio_button :is_deleted, :false %>有効</div>
            </td>
          </tr>
        </table>
      <div class="d-flex justify-content-around">
        <div class="actions">
           <%= f.submit "変更を保存する", class: 'btn btn-green'  %>
        </div>
      </div>
     <% end %>
    </div>
  </div>
</div>