<div class='container'>
  <div class='mypage mb-3'>
    <div class='sign-top'>
      <h3>ユーザーページ</h3>
    </div>
    <%= flash[:notice] %>
    <div class="row">
      <div class='col-md-3 offset-md-2 col-sm-12 d-flex justify-content-around'>
        <div class='profile-image'>
          <% if @member.profile_image.attached? %>
            <%= image_tag @member.profile_image, size: "200x200" %>
          <% else %>
            <%= image_tag 'no-image-icon.jpeg', size: "200x200" %>
          <% end %>
        </div>
      </div>
      <div class='col-md-7 col-sm-12 d-flex justify-content-around'>
        <table>
          <tr>
            <th><i class="far fa-smile"></i>ニックネーム</th>
            <td><div class='bg-light rounded-pill py-2'><%= @member.nickname %></div></td>
          </tr>
          <tr>
            <th><i class="far fa-envelope"></i>メールアドレス</th>
            <td><div class='bg-light rounded-pill py-2'><%= @member.email %></div></td>
          </tr>
          <tr>
            <th><i class="far fa-comment-dots"></i>自己紹介文</th>
            <td><div class='bg-light rounded-pill py-2'><%= @member.introduction %></div></td>
          </tr>
          <tr>
            <th>ユーザーステータス</th>
            <td>
                <% if @member.is_deleted == false%>
                  有効
                <% else %>
                  退会
                <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  <%= link_to '編集する', edit_admin_member_path(@member), class: 'btn btn-green' %>
  </div>
</div>

<div class='row justify-content-center'>
  <%= render 'admin/posts/post', posts: @posts %>
</div>
