<% members.each do |member| %>
<div class='members'>
  <table>
    <tr>
      <td>
        <% if member.profile_image.attached? %>
          <%= image_tag member.image, size: "100x100" %>
        <% else %>
          <%= image_tag 'no-image-icon', size: "100x100" %>
        <% end %>
      </td>
      <td>
        <%= link_to member_path(member) do %>
          <%= member.nickname %>
        <% end %>
      </td>
      <td>
        <%= member.introduction %>
      </td>
    </tr>
  </table>
  </div>
<% end %>
