<div class="d-flex flex-column-reverse" style='width: 100%;'>
  <% members.each do |member| %>
    <div class='members'>
      <table>
        <tr>
          <td>
            <% if member.profile_image.attached? %>
              <%= image_tag member.profile_image, size: "50x50" %>
            <% else %>
              <%= image_tag 'no-image-icon.jpg', size: "50x50" %>
            <% end %>
          </td>
          <td>
            <%= link_to member_path(member) do %>
              <%= member.nickname %>さん
            <% end %>
          </td>
          <td>
            自己紹介：<%= member.introduction %>
          </td>
        </tr>
      </table>
    </div>
  <% end %>
</div>
