<div class='sign'>
  <div class='sign-top'>
    <h3>マイページ編集</h3>
  </div>
  <%= form_with model: @member do |f| %>
  <div class='col-3'>
    <h5>プロフィール画像</h5>
      <%= f.file_field :profile_image, accept: "image/*" %>
  </div>
  <div class='col-7'>
    <table>
      <tr>
        <th>
          <%= f.label :ニックネーム %>
        </th>
        <td>
          <%= f.text_field :nickname %>
        </td>
      </tr>
      <tr>
        <th>
          <%= f.label :メースアドレス %>
        </th>
        <td>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </td>
      </tr>
      <tr>
        <th>
          <%= f.label :自己紹介文 %>
        </th>
        <td>
          <%= f.text_area :introduction %>
        </td>
      </tr>
    </table>
    <div class="actions">
       <%= f.submit "変更を保存する", class: 'btn btn-green'  %>
    </div>
    <div class="actions">
      <%= link_to "退会する", public_unsubscribe_path(@member), class: 'btn btn-red' %>
    </div>
  </div>
  <% end %>
</div>