<h1>マイページを編集する</h1>
<%= form_with model: @member, url: public_member_path do |f| %>

  <h4>プロフィール画像</h4>
  <%= f.file_field :profile_image, accept: "image/*" %>

  <div class="field">
    <%= f.label :ニックネーム %><br>
    <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <%= f.label :メースアドレス %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  
  <div class="field">
    <%= f.label :自己紹介文 %><br />
    <%= f.text_area :introduction %>
  </div>
  
    <div class="actions">
    <%= f.submit "変更を保存する" %>
  </div>

<% end %>
