<div class='container'>
  <div class='mypage mb-3'>
    <div class='sign-top'>
      <h3>マイページ</h3>
    </div>
    <%= flash[:notice] %>
    <div class='row'>
      <div class='col-md-3 offset-md-1 col-sm-12 d-flex justify-content-around'>
          <div class='profile-image'>
            <% if @member.profile_image.attached? %>
              <%= image_tag @member.get_profile_image(200,200) %>
            <% else %>
              <%= image_tag 'images/no-image-icon.jpg', size: "200x200" %>
            <% end %>
          </div>
      </div>
      <div class='col-md-8 col-sm-12 d-flex justify-content-around'>
        <table>
          <tr>
            <th><i class="far fa-smile"></i>ニックネーム</th>
            <td><div class='bg-light rounded-pill py-2'><%= @member.nickname %></div></td>
          </tr>
          <tr>
            <th><i class="far fa-comment-dots"></i>自己紹介文</th>
            <td><div class='bg-light rounded-pill py-2'><%= @member.introduction %></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="text-center">
      <% if @member.nickname != "ゲスト" && current_member == @member %>
        <%= link_to '編集する', edit_member_path(@member), class: 'btn btn-green' %>
      <% end %>
    </div>
  </div>
</div>

<div class='row justify-content-center'>
  <%= render 'public/posts/post', posts: @posts %>
</div>

