<div class='container'>
  <div class='mypage'>
    <h1>マイページ</h1>
    <div class='col-3'>
      <h5>プロフィール画像</h5>
        <% if @member.profile_image.attached? %>
          <%= profile_image_tag member.get_profile_image(200,200) %>
        <% else %>
          <%= image_tag 'no-image-icon', size: "100x100" %>
        <% end %>
    </div>
    <div class='col-7'>
        <h4>ニックネーム</h4>
          <%= @member.nickname %>
        <h4>メールアドレス</h4>
          <%= @member.email %>
        <h4>自己紹介文</h4>
          <%= @member.introduction %>

        <% if @member.nickname != "ゲスト" %>
          <%= link_to '編集する', edit_member_path(@member) %>
        <% end %>
    </div>
  </div>
</div>

<div class='row'>
  <%= render 'public/posts/post', posts: @posts %>
</div>

