<div class="admin-back">
  <div class="container">
    <div class="row">
      <div class="title">
        <h4>ジャンル一覧</h4>
      </div>
    </div>
    <div class='genre'>
        <h3>＜ジャンル追加＞</h3>
        <%= form_with model: @genre, url: admin_genres_path do |f| %>
          <%= f.text_field :name %>
          <%= f.submit '追加する', class: 'btn btn-green' %>
        <% end %>
    </div>
    <%= flash[:notice] %>
    <div class='row'>
        <div class='admin'>
          <% @genres.each do |genre| %>
            <div class="genres">
              <table>
                <tr>
                  <td>
                    <%= genre.name %>
                  </td>
                  <td>
                    <%= link_to '編集する', edit_admin_genre_path(genre), class: 'btn btn-green' %>
                  </td>
                </tr>
              </table>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
