<h1>投稿を編集</h1>

<%= form_with model:@post, url: admin_post_path(@post) do |f| %>

<h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
<h4>ジャンル</h4>
  <%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "-- 選択してください --") %>
<h4>タイトル</h4>
  <%= f.file_field :title %>
<h4>投稿本文</h4>
  <%= f.text_area :body %>

  <%= f.submit '変更を保存する' %>

  <%= link_to '削除する', admin_post_path, method: :delete %>

<% end %>