<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-sm-8 sign'>
      <div class='post-top'>
        投稿編集ページ
      </div>
    <div class='new'>
      <%= form_with model:@post, url: admin_post_path(@post) do |f| %>
          <table>
            <tr>
              <th>
                画像
              </th>
              <td>
                <%= f.file_field :image, accept: "image/*" %>
              </td>
              <tr>
              <th>
                ジャンル
              </th>
              <td>
                <%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "-- 選択してください --") %>
              </td>
            </tr>
            <tr>
              <th>
                タイトル
              </th>
              <td>
                <%= f.text_field :title, class: 'post-body' %>
              </td>
            </tr>
            <tr>
              <th>
                投稿内容
              </th>
              <td>
                <%= f.text_area :body, class: 'post-body' %>
              </td>
            </tr>
          </table>
      <div>
        <%= f.submit '変更を保存する', class: 'btn btn-green' %>
        <%= link_to '削除する', admin_post_path(@post), method: :delete, class: 'btn btn-red', data: {confirm: "この投稿を削除しますか？"} %>
      </div>
    <% end %>
  </div>
</div>