<h1>投稿の詳細</h1>
<div>
  <h6>プロフィール画像</h6>
    <% if @member.profile_image.attached? %>
      <%= image_tag @member.profile_image.image, size: "50x50" %>
    <% else %>
      <%= image_tag 'no-image-icon', size: "50x50" %>
    <% end %>

  <h6>ユーザー名</h6>
    <%= @member.nickname %>

  <h4>画像</h4>
      <% if @post.image.attached? %>
        <%= image_tag @post.image, size: "200x200" %>
      <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
      <% end %>
  <h4>ジャンル</h4>
    <%= @post.genre.name %>
  <h4>投稿日<%= @post.created_at.strftime('%Y/%m/%d') %></h4>
  <h4>タイトル</h4>
    <%= @post.title %>
  <h4>投稿本文</h4>
    <%= @post.body %>

    <%= link_to '編集する', edit_admin_post_path(@post) %>
</div>

