<h1>投稿の詳細</h1>
<div>
  <h6>プロフィール画像</h6>
     <%= image_tag @post.member.get_profile_image %>

  <h6>ユーザー名</h6>
    <%= @post.member.name %>

  <h4>画像</h4>
    <%= image_tag @post.get_image %>
  <h4>ジャンル</h4>
    <%= @post.genre.name %>
  <h4>投稿日<%= @post.created.strftime('%Y/%m/%d') %></h4>
  <h4>タイトル</h4>
    <%= @post.title %>
  <h4>投稿本文</h4>
    <%= @post.body %>

   <%= link_to '編集する',  edit_public_post_path(@post) %>

</div>