<div class="back">
  <div class='new'>
    <div class='container post-back'>
      <div class="mypage p-3">
      <div class='row d-flex align-items-center'>
         <div>
          <div class="col-md-4 col-sm-12 d-flex">
            <div>
              <% if @member.profile_image.attached? %>
                <%= image_tag @member.profile_image, size: "50x50" %>
              <% else %>
                <%= image_tag 'no-image-icon', size: "50x50" %>
              <% end %>
              <div>
                <%= @post.member.nickname %>さん
              </div>
            </div>
          </div>
          <div class='pb-5 px-3'>
             <%= link_to post_path(@post) do %>
              <% if @post.image.attached? %>
                <%= image_tag @post.image, size: "200x200" %>
              <% else %>
                <%= image_tag 'no-image', size: "200x200" %>
              <% end %>
             <% end %>
          </div>
        </div>

        <div class='col-md-8 col-sm-12'>
          <div> ＃<%= @post.genre.name %></div>
          <div>投稿日:<%= @post.created_at.strftime('%Y/%m/%d') %></div>
          <h4 class='post-form'>
            <%= @post.title %>
          </h4>
          <div class='post-form'>
            <%= @post.body %>
          </div>
        </div>
      </div>
        <div class='text-center'>
          <%= link_to '編集する', edit_admin_post_path(@post), class: 'btn btn-green' %>
        </div>
        <div class="post_comments">
          <% @post_comments.each do |post_comment| %>
    　  　  <div>
           <span>
              <%= post_comment.member.nickname %>
              <%= post_comment.comment %>
            </span>
            <span class='bg-danger rounded'>
              <%= link_to '削除する', admin_post_post_comment_path(post_comment.post, post_comment), method: :delete, data: {confirm: "このコメントを削除しますか？"} %>
    　　　　    </span>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>