<nav>
  <h3 class='logo'><%= link_to root_path do %>｜ひよっこランド｜<% end %></h3>
  <% if member_signed_in? %>
  <ul>
      <li>ようこそ<%= current_member.nickname %>さん</li>
      <li class='btn'><%= link_to posts_path do %><i class="fas fa-users"></i>みんなの投稿<% end %></li>
      <li class='btn'><%= link_to new_post_path do %><i class="fas fa-pen"></i>投稿フォーム<% end %></li>
      <li class='btn'><%= link_to member_path(current_member) do %><i class="fas fa-user"></i>マイページ<% end %></li>
      <li class='btn'><%= link_to favorites_member_path(current_member) do %><i class="fas fa-heart"></i>いいねリスト<% end %></li>
      <li class='btn'><%= link_to destroy_member_session_path, method: :delete do %><i class="fas fa-sign-out-alt"></i>ログアウト<% end %></li>
      <%= form_with url: search_path, method: :get do |f| %>
        <%= f.text_field :keyword %>
        <%= f.select :range, options_for_select([['ユーザー'],['投稿']]) %>
        <%= f.submit '検索' %>
      <% end %>

  </ul>
<% elsif admin_signed_in? %>
  <ul>
    <li class='btn'><%= link_to admin_members_path do %><i class="fas fa-address-book"></i>ユーザー一覧<% end %></li>
    <li class='btn'><%= link_to admin_posts_path do %><i class="fas fa-bars"></i>投稿一覧<% end %></li>
    <li class='btn'><%= link_to admin_genres_path do %><i class="fas fa-bookmark"></i>ジャンル一覧<% end %></li>
    <li class='btn'><%= link_to destroy_admin_session_path, method: :delete do %><i class="fas fa-sign-out-alt"></i>ログアウト<% end %></li>
    <%= form_with url: search_path, method: :get do |f| %>
      <%= f.text_field :keyword %>
      <%= f.select :range, options_for_select([['ユーザー'],['投稿']]) %>
      <%= f.submit '検索' %>
    <% end %>

  </ul>
<% else %>
  <ul>
    <li class='btn'><%= link_to about_path do %><i class="fas fa-star"></i>Aboutページ<% end %></li>
    <li class='btn'><%= link_to new_member_registration_path do %><i class="fas fa-user-plus"></i>新規会員登録<% end %></li>
    <li class='btn'><%= link_to  new_member_session_path do %><i class="fas fa-sign-in-alt"></i>ログイン<% end %></li>
    <li class='btn'><%= link_to new_admin_session_path do %><i class="fas fa-id-card-alt"></i>スタッフログイン<% end %></li>
  </ul>
<% end %>
</nav>