<!DOCTYPE html>
<html>
  <head>
    <title>HiyokkoLand</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in? %>
    <div class="admin_wrapper">
    <% else %>
    <div class="member_wrapper">
    <% end %>
      <header>
       <%= render 'layouts/header' %>
      </header>
      <%= yield %>
      <footer><center>ひよっこランド</center></footer>
    </div>
  </body>
</html>
